<!--<app-todos></app-todos>-->

<app-zippy title="Shipping Address">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae corporis, dignissimos ea eaque est excepturi explicabo ipsum magni modi neque nobis non, obcaecati perferendis quae quas quos ratione voluptates voluptatibus.
  </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aperiam commodi consectetur delectus, doloremque ducimus eaque eos eveniet facere neque officia optio quae quibusdam ratione rerum soluta velit vero.
  </p>
</app-zippy>
